@media only screen and (max-width: 1376px) {
	.products .col-sm-3,
	.service-advantage .col-sm-3 {
		-webkit-box-flex 0
		flex 0 0 33%
		max-width 33%
	}
	.container-cart .p-5,
	.container-cart .p-4 {
		padding 15px 0 !important
	}
	.app .navigation .navigation-nav {
		height 85%
	}
}
@media only screen and (max-width: 1023px) {
	.service-advantage .col-sm-3 {
		-webkit-box-flex 0
		flex 0 0 33%
		max-width 33%
	}
	.app .navigation .navigation-nav {
		height 85%
	}
	.service-advantage h4 {
		font-size 14px
	}
	.footer .footer-text-head {
		font-size 15px
	}
	.footer .footer-logo {
		margin-top 15px
	}
	.footer .footer-link,
	.footer .footer-copyright {
		font-size 12px
	}
	.app .navigation {
		flex 0 0 60px
		max-width 60px
	}
	.content-center .navbar,
	.app .navigation .navigation-left--header,
	.app .navigation.non-active {
		height 70px
	}
	.products .col-sm-3 {
		-webkit-box-flex 0
		flex 0 0 50%
		max-width 50%
	}
	.app .navigation-right .dropdown-menu.show {
		margin-top -78px
	}
	.navbar-collapse {
		background-color #fff
		z-index 1000
		box-shadow 0 3px 5px rgba(0,0,0,0.2)
		justify-content center
	}
	.content-center .navbar .nav-link {
		text-align center !important
	}
	.content-center .navbar .nav-item button {
		width 100% !important
	}
	.content-center .navbar .nav-item:nth-child(3),
	.content-center .navbar .nav-item:nth-child(4) {
		justify-content center
		display flex
	}
	.dropdown-menu-sm {
		width 100% !important
	}
	.dropdown-menu-center {
		left 0 !important
	}
	.content-center .navbar .nav-link.nav-link_cart,
	.content-center .navbar .nav-link.nav-link_profile {
		margin-bottom 10px
		display flex-inline
	}
}
@media only screen and (max-width: 568px) {
	.products .col-sm-3 {
		-webkit-box-flex 0
		flex 0 0 100%
		max-width 100%
	}
	.footer .col-sm-2 {
		-webkit-box-flex 0
		flex 0 0 25%
		max-width 25%
	}
	.footer .col-sm-4 {
		display none
	}
	.footer .footer-text-head {
		font-size 10px
	}
	.footer .footer-copyright, .footer .footer-link {
		font-size 9px
	}
}