.admin-firms-index
	.alert
		ul
			padding-bottom 0
			margin-bottom 0
	.form-footer-ib
		margin-bottom 0
		display inline-block
		margin-right 10px
#modalAdminAddFirm
	.custom-file-input ~ .custom-file-label::after
		content "Выбрать"