.admin-firm-show
	.list-group-item
		padding 0 0 0 10px
		span
			display inline-block
			margin-top 2px
	.tab-content
		margin-top 0
		padding 20px
		border 1px solid #dee2e6
		border-top none
	.form-destroy-city-firm
		margin-bottom 0
	.form-add-city
		.btn
			padding 0.135rem 0.75rem