.products-nav
	.btn-primary
		width 100%
		background-color transparent
		border 1px solid #35a4dc
		color #35a4dc
		img
			margin-top 20px
			max-width 100px
		&:hover, &:active, &.active
			color #ffffff
			background-color #35a4dc
		&.btn-product
			font-weight 500
			text-align left
			border 1px solid #cccccc
			height 100px
			padding 10px
			border-radius 0
			color #222
			box-shadow 0 0 0 rgba(0,0,0,0)
			&:hover, &:activem &.active
				background-color transparent
				border 1px solid #35a4dc
				box-shadow 0 0 12px rgba(0,0,0,0.2)