.container-cart
	.h2
		margin-top 50px
		margin-bottom 30px
		font-weight 600
	.btn
		background #22256C
		color #ffffff
		border 3px solid #22256C
		transition all 0.3s ease-in-out
		&:hover, &:active, &:focus
			background transparent
			color #22256C
	.shadow-sm
		box-shadow 0 4px 8px rgba(0,0,0,0.15) !important
	.product-count
		vertical-align middle
		display inline-block
		.minus,
		.plus
			font-weight 500
			display inline-block
			vertical-align middle
			font-size 20px
			cursor pointer
			outline none !important
			-ms-user-select none
			-moz-user-select none
			-khtml-user-select none
			-webkit-user-select none
		.product-input
			font-size 16px
			font-weight 500
			display inline-block
			vertical-align middle
			width auto
			min-width 20px
			max-width 50px
			border none
			box-shadow none
			text-align center