.container-cart
	.h2
		margin-top 50px
		margin-bottom 30px
		font-weight 600
	.btn
		background #35a4dc
		color #ffffff
		border 3px solid #35a4dc
		transition all 0.3s ease-in-out
		&:hover, &:active, &:focus
			background transparent
			color #35a4dc
	.shadow-sm
		box-shadow 0 4px 8px rgba(0,0,0,0.15) !important