.dropdown-item-cart
	position relative
	.removeBtn
		display inline-block
		vertical-align middle
		margin-right 5px
		cursor pointer
		transition color 0.3s ease-in-out
		&:hover, &:active 
			color #22256C
	.cart-img
		max-width 30px
		display inline-block
		vertical-align middle
		margin-right 5px
	.cart-name
		display inline-block
		vertical-align middle
		margin-right 5px
		font-weight 600
	.cart-price
		margin-right 5px
		display inline-block
		vertical-align middle
		font-weight 600
	.cart-count
		display inline-block
		line-height 1
		vertical-align middle
		padding 5px 10px
		border-radius 6px
		background-color #22256C
		color #ffffff
		text-align center