.user-cabinet-home
    .table
        td
            text-align left
            b
                font-family 'Roboto', sans-serif;
                font-weight bold
            &:first-of-type
                width 30%
